# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


### Java template
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


cli/src/main/resources/bootstrap/openstack/default/inputs.yml
cli/src/main/resources/bootstrap/openstack/swarm/inputs.yml
cli/src/main/resources/bootstrap/openstack/default/archive/toscaruntime.pem
cli/src/main/resources/bootstrap/openstack/swarm/archive/toscaruntime.pem

cli/src/main/resources/conf/providers/openstack/default/provider.conf
cli/src/main/resources/conf/providers/openstack/swarm/provider.conf

deployer/test/resources/testWorkspace/data
